
@using LMS.Model.ViewModel.Shared

@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = null;
}

<link href="~/css/Auth/index.css" rel="stylesheet" />
<div class="login-wrap">
    <div class="login-html">
        @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
        {
            <a asp-controller="Auth" asp-action="Index">
                <p style="color:#ec6572">@ViewData["SuccessMessage"]</p>
            </a>
        }
        else if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["NotFoundMessage"])))
        {
            <p style="color:#ec6572">@ViewData["NotFoundMessage"]</p>
        }
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Change Password</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <div class="login-form">
            <form class="sign-in-htm" asp-action="CreateNewPassword" method="post" oninput='ConfirmPassword.setCustomValidity(ConfirmPassword.value != Password.value ? "Passwords do not match." : "")'>
                <div class="group">
                    <label for="user" class="label" name="Email">Email</label>
                    @if (ViewBag.user != null)
                    {
                        <input id="user" type="text" class="input" value="@ViewBag.user" name="Email" required readonly>
                    }
                </div>
                <div class="group">
                    <label for="oldPassword" class="label">Current Password</label>
                    <input id="oldPassword" type="password" name="oldPassword" class="input" placeholder="Current Password" data-type="password" required>
                </div>
                <div class="group">
                    <label for="pass" class="label">New Password</label>
                    <input type="password" asp-for="Password" id="NewPassword" maxlength="100" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" class="input" placeholder="New Password" required>
                </div>
                <div class="group">
                    <label for="pass" class="label">Confirm Password</label>
                    <input type="password" class="input" data-type="password" id="ConfirmPassword" name="ConfirmPassword" maxlength="100" placeholder="Confirm Password" required>
                </div>
                <div class="group">
                    <input type="submit" class="button" value="Save">
                </div>
                <div class="hr"></div>
            </form>
        </div>
    </div>
</div>