
@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}
@using LMS.Model.ViewModel.Shared
@model UserViewModel
@*<div class="row mt-5">

        <div class="col-md-3"></div>

        <form class="col-md-6" asp-action="ResetPassword" method="post" oninput='ConfirmPassword.setCustomValidity(ConfirmPassword.value != Password.value ? "Passwords do not match." : "")'>
            @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
            {
                <div class="alert alert-success" role="alert">@ViewData["SuccessMessage"]</div>
            }
            <h2 class="blacktitle">Reset Password</h2>
            <fieldset>
                <div class="form-group">
                    <label for="Password" class="input-label">Password</label>
                    <input type="password" asp-for="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" id="Password" class="form-control" maxlength="100" placeholder="Password" required>
                    <p style="color:red">* Password must contain at least one number one uppercase One lowercase letter and one special characters and minimum 8 characters</p>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="input-label">Confirm Password</label>
                    <input type="password" name="ConfirmPassword" id="ConfirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" class="form-control" maxlength="100" placeholder="Confirm Password" required>
                </div>
                <div class="form-group">
                    @*<label for="Email" class="input-label">Email</label>
                    <input type="hidden" asp-for="Email" name="Email" id="Email" />
                </div>
                <div class="form-group spacer-top-20">
                    <input class="btn btn-primary btn-block" value="Change password" type="submit">
                </div>
            </fieldset>
        </form>
    </div>*@
<link href="~/css/Auth/index.css" rel="stylesheet" />
<div class="login-wrap">
    <div class="login-html">
        @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
        {
            <a asp-controller="Auth" asp-action="Index">
                <p style="color:#ec6572">@ViewData["SuccessMessage"]</p>
            </a>
        }

        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Reset Password</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <div class="login-form">
            <form class="sign-in-htm" asp-action="ResetPassword" method="post" oninput='ConfirmPassword.setCustomValidity(ConfirmPassword.value != Password.value ? "Passwords do not match." : "")'>
                <div class="group">
                    <label for="pass" class="label">New Password</label>
                    <input type="password" asp-for="Password" id="NewPassword" maxlength="100" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" class="input" placeholder="New Password" required>
                </div>
                <div class="group">
                    <label for="pass" class="label">Confirm Password</label>
                    <input type="password" class="input" data-type="password" id="ConfirmPassword" name="ConfirmPassword" maxlength="100" placeholder="Confirm Password" required>
                </div>
                <div class="group">
                    <input type="hidden" asp-for="Email" name="Email" id="Email" />
                    <input type="submit" class="button" value="Change Password">
                </div>
                <div class="hr"></div>
            </form>
        </div>
    </div>
</div>

