@using Microsoft.AspNetCore.Http
@using LMS.Model.ViewModel.Shared
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}
@{
    UserViewModel user = new UserViewModel();/*Context.Session.Get<UserViewModel>(Constants.SessionKeyUserInfo);*/

    <div class="container screen-height home-screen-section">
        <div class="login-form">
            <h2 class="blacktitle">Change Password</h2>
            @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
            {
                <div class="alert alert-success" role="alert"><strong>Well done!</strong> @ViewData["SuccessMessage"]</div>
                <div><a asp-controller="Auth" asp-action="JobSeekerLogin">Click to login</a></div>
            }
            @if (!string.IsNullOrWhiteSpace(Convert.ToString(ViewData["NotFoundMessage"])))
            {
                <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> @ViewData["NotFoundMessage"]</div>

            }
            @if (string.IsNullOrWhiteSpace(Convert.ToString(ViewData["SuccessMessage"])))
            {
                <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> Your Password is expired ,Create a New Password </div>
            }
            <form class="login spacer-top-20" asp-action="CreateNewPassword" method="post" oninput='ConfirmPassword.setCustomValidity(ConfirmPassword.value != Password.value ? "Passwords do not match." : "")'>
                <fieldset>
                    @if (user != null)
                    {
                        <div class="form-group">
                            <label for="email" class="input-label">
                                Email
                            </label>

                            <input type="email" readonly asp-for="Email" name="Email" id="email" value=@user.Email class="form-control input-elements" placeholder="Registerd Email" required>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label for="email" class="input-label">
                                Email
                            </label>
                            <input type="email" readonly asp-for="Email" name="Email" class="form-control input-elements" placeholder="Registerd Email" required>
                        </div>
                    }
                    <div class="form-group">
                        <label for="OldPassword" class="input-label">
                            Old Password
                        </label>
                        <input type="password" asp-for="OldPassword" name="OldPassword" id="OldPassword" class="form-control input-elements" maxlength="100" placeholder="Current Password" required>
                    </div>
                    <div class="form-group">
                        <label for="NewPassword" class="input-label">
                            New Password
                        </label>
                        <input type="password" asp-for="Password" id="NewPassword" maxlength="100" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="Password" class="form-control input-elements" placeholder="New Password" required>
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword" class="input-label">
                            Confirm Password
                        </label>

                        <input type="password" class="form-control input-elements" id="ConfirmPassword" name="ConfirmPassword" maxlength="100" placeholder="Confirm Password" required>
                    </div>
                    <div class="form-group">
                        <p>* Password must contain at least one number one uppercase One lowercase letter and one special characters and minimum 8 characters</p>
                    </div>
                    <div class="form-group spacer-top-20">
                        <input class="btn btn-primary btn-block" value="Save" type="submit">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
}




